@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #30668f;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;

}

body{
    font-family:"Poppins" ,sans-serif;
    color:var(--primary-text-color);
}
p{
    font-family: "Roboto" sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
     text-decoration: none; /*all underline will be remove */

}

ul{
     list-style: none; /*all bullets point will remove*/ 
}

.flex{ /*  utility class */
    display: flex;
    align-items: center;
}

.container{
     max-width: 1100px; /* so that all items have same width  and align propoerly */
     margin-inline:auto; /*so that all items will evenly allign from left and right  */
     overflow: hidden;
}

.nav-main{
    justify-content: space-between;
    padding-block: 8px;
    
}

nav{
    background-color:#c8dceb;
    box-shadow: 0 0 4px #adc8e0;
    position: fixed;
    top:0;
    z-index: 99;
    left:0;
    right:0;




}

.nav-link ul{
    gap:20px;
}

.hover-link{
    cursor:pointer;
}

.hover-link:hover{
    color:var(--secondary-text-color);
}

.hover-link:active{
     color:blue; /* when we will click it color will change to blu e */
}

.search-bar{
    height:30px;
    gap:8px;
}

.news-input{
    width:200px;
    height:100%;
    padding-inline: 12px;
    border-radius: 5px;
    border: 2px solid rgb(198, 198, 240);
    font-family: "Roboto" sans-serif;

}

.search-button{
    background-color: var(--accent-color);
    color: white;
    padding:8px 24px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-family: "Roboto" sans-serif;
}

.search-button:hover{
    background-color: var(--accent-color-dark);
}

main{
    padding-block:20px;
    margin-top:80px;
    padding-left:80px;
      
}

.container-card{
    justify-content: space-between;
    flex-wrap:wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width:360px;
    min-height:400px;
    border-radius:5px;
    cursor:pointer;
    background-color: #fff;
    overflow:hidden;
    transition: all 0.3s ease;  
}

.card:hover{
    box-shadow:1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform:translateY(-2px);
}

.header-card img{
    width:100%;
    height:180px;
    object-fit: cover;

}

.content-card{
    padding:12px;

}

.news-source{
    margin-block:12px;
}

.nav-items.active{
    color:var(--accent-color);

}

